@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

body {
  background-color: #f8fafc; 
  color: #1e293b; 
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 32px 32px;
  min-height: 100vh;
  margin: 0;
}

.dark body {
  background-color: #0f172a; 
  color: #e2e8f0;
  background-image: radial-gradient(#1e293b 1px, transparent 1px);
}